!!! 5
html
  head
    meta( "http-equiv" = "Content-type", "content" = "text/html; charset=utf-8" )
    title Uki examples
    link( rel = 'stylesheet', href = '/examples/css/reset.css', type = 'text/css', media = 'screen' )
    link( rel = 'stylesheet', href = '/examples/css/examples.css', type = 'text/css', media = 'screen' )
	body
		h1 <a href="/">Uki</a> code examples
		ul
			- for (var i in exampleList)
			  - example = exampleList[i]
				li
					a(href = example.path)= example.title
