.uki-flow {
    display: block;
    padding: 0;
    margin: 0;
}

.uki-flow-item {
    display: block;
    padding: 0;
    margin: 0;
}

/* 
    Warning: in horizontal mode flow useses clearfix, that may cause
    problems if flow itself is floating. See 
    http://www.positioniseverything.net/easyclearing.html
    for more info.
*/

.uki-flow_horizontal:after {
    clear: both;
    content: '.';
    display: block;
    height: 0px;
    line-height: 0;
    visibility: hidden;
}

.uki-flow_horizontal {
    *zoom: 1;
}

.uki-flow_horizontal > .uki-flow-item {
    float: left;
}

/* Spacing */
.uki-flow_spacing-small {
    margin: 0;
}

.uki-flow_spacing-small > .uki-flow-item {
    margin: 5px 0 0 0;
}

.uki-flow_spacing-medium > .uki-flow-item {
    margin: 10px 0 0 0;
}

.uki-flow_spacing-large > .uki-flow-item {
    margin: 20px 0 0 0;
}

.uki-flow .uki-flow-item:first-child {
    margin-top: 0;
}


/* Spacing for horizontal */
.uki-flow_horizontal.uki-flow_spacing-small > .uki-flow-item {
    margin: 0 0 0 5px;
}

.uki-flow_horizontal.uki-flow_spacing-medium > .uki-flow-item {
    margin: 0 0 0 10px;
}

.uki-flow_horizontal.uki-flow_spacing-large > .uki-flow-item {
    margin: 0 0 0 20px;
}

.uki-flow_horizontal.uki-flow > .uki-flow-item:first-child {
    margin-left: 0;
}