!!!1.1
%html
  %head
    %title Image Cutter
    %script{:src => '/app/uki-theamless.cjs'}
    %script{:src => '/app/airport.cjs'}
    %script{:src => '/app/jquery.js'}
    %script{:src => '/app/tools/imageCutter.cjs'}
  %body{:style => 'padding: 0; margin: 0; overflow: hidden'}
    %script
      tools.imageCutter.build().attachTo(window, '400 400', {minSize:'550 300'});