!!!1.1
%head
  %script{:src => '/app/main.cjs'}
  %script{:src => '/app/airport.cjs'}
  %script{:src => '/app/tools/imageCutter.cjs'}
%body{:style => 'padding: 0; margin: 0'}
  #test{:style => 'width: 100%; height: 400px; margin-top: 0px'}
  %script
    tools.imageCutter.build().attachTo(document.getElementById('test'), '400 400', {minSize:'550 400'});