.uki-text-p {
    line-height: 1.3;
    margin: 0 0 1em 0;
}

.uki-header {
    margin: 0 0 5px 0;
    font-weight: normal;
} 

.uki-header_size_large {
    font-size: 18px;
}

.uki-header_size_medium {
    font-size: 15px;
}

.uki-header_size_small {
    font-size: 12px;
    font-weight: bold;
}