!!!1.1
%head
  %script{:src => '/app/main.cjs'}
  %script{:src => '/app/airport.cjs'}
%body
  #test{:style => 'width: 50%; height: 100px; background: #EEE' }
    = "#test"
  %script{:src => '/app/functional/attachment.cjs'}
