!!!1.1
%head
  %script{:src => '/src/uki-theamless.cjs'}
  %script{:src => '/src/airport.cjs'}
%body
  #test{:style => 'width: 50%; height: 500px; background: #CCC; position: relative;' }
  %script{:src => '/app/functional/cropped.cjs'}