!!!1.1
%head
  %script{:src => '/app/main.cjs'}
  %script{:src => '/app/airport.cjs'}
%body
  #test{:style => 'width: 50%; height: 500px; background: #CCC; position: relative;' }
  %script{:src => '/app/cropped.cjs'}