!!!1.1
%html
  %head
    %script{:src => '/app/main.cjs'}
    %script{:src => '/app/airport.cjs'}
  %body
    #test{:style => 'width: 80%; height: 400px;' }
    %script{:src => '/app/functional/list.cjs'}
