!!!1.1
%head
  %script{:src => '/app/uki-theamless.cjs'}
  %script{:src => '/app/airport.cjs'}
%body#test{:style => 'width: 100%; height: 100%; background: #FFF; padding: 0; margin: 0; overflow:hidden;' }
  %script{:src => '/app/functional/scrollPane.cjs'}
