!!!1.1
%head
  %script{:src => '/src/uki.cjs'}
%body#test{:style => 'width: 100%; height: 100%; background: #EEE; padding: 0; margin: 0; overflow:hidden;' }
  %script{:src => '/app/functional/splitPaneEx.cjs'}
