!!!1.1
%head
  %script{:src => '/app/uki-theamless.cjs'}
  %script{:src => '/app/airport.cjs'}
  %script{:src => '/app/jquery.js'}
%body
  %script{:src => '/app/functional/table/library.js'}
  %script{:src => '/app/functional/table.cjs'}
