!!!1.1
%head
  %script{:src => '/src/uki-theamless.cjs'}
  %script{:src => '/src/airport.cjs'}
  %script{:src => '/src/jquery.js'}
%body
  %script{:src => '/app/functional/table/library.js'}
  %script{:src => '/app/functional/table.cjs'}
