!!!1.1
%html
  %head
    %title Toolbar
    %script{:src => '/app/main.cjs'}
    %script{:src => '/app/airport.cjs'}
  %body
    #test{:style => 'width: 80%; height: 600px'}
    %script{:src => '/app/functional/toolbar.cjs' }