!!!1.1
%html
  %head
    %title UKI replica of Wave
    %script{:src => '/app/uki-theamless.cjs'}
  %body{:style => 'overflow:hidden;margin:0;padding:0;background:#D9DDE0;background-repeat:repeat-x;'}
    %script{:src => '/app/functional/wave-theme.cjs'}
    %script{:src => '/app/functional/wave.cjs'}
