.uki-attaching {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.uki-textSelectable_off {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Opera will not respond to above, so just hide selection instead of
   preventing it */
.uki-textSelectable_off::selection {
    background: transparent;
}