.uki-button {
    border: 1px solid #777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #D7DAE4 url(button.png) repeat-x 0 0;
    padding: 4px 0;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    text-align: center;
    position: relative;
    z-index: 10;
    outline: 0;
    _zoom: 1;
    _display: inline;

    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0px -1px 1px inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.3) 0px -1px 1px inset;
    box-shadow: rgba(255, 255, 255, 0.3) 0px -1px 1px inset;
}

.uki-button:hover {
    background-color: #F5F7FD;
    background-position: 0 -40px;
}

.uki-button:active {
    background-color: #C5C7CD;
    background-position: 0 -80px;
    
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px inset;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px inset;
}

.uki-button__input,
.uki-button__input:active,
.uki-button__input:focus,
.uki-button__input:hover {
    background: none;
    border: none;
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 5px;
    outline: 0;
    white-space: nowrap;
    font-weight: bold;
}

.uki-button_focused {
    border-color: #7594D2;
    
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0px -1px 1px inset, #7594D2 0 0 3px;
    -moz-box-shadow: rgba(255, 255, 255, 0.3) 0px -1px 1px inset, #7594D2 0 0 3px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px -1px 1px inset, #7594D2 0 0 3px;
    
}
