.uki-button {
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-bottom-color: #777;
    border-radius: 3px;
    background: #D7DAE4 url(button.png) repeat-x 0 0;
    padding: 4px 0;
    
    white-space: nowrap;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    line-height: 12px;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0px;
    
    position: relative;
    z-index: 10;
    outline: 0;
    _zoom: 1;
    _display: inline;

    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0px -1px 1px inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.3) 0px -1px 1px inset;
    box-shadow: rgba(255, 255, 255, 0.3) 0px -1px 1px inset;
}

.uki-button:hover {
    background-color: #F5F7FD;
    background-position: 0 -40px;
}

.uki-button:active {
    border-color: #666;
    background-color: #C5C7CD;
    background-position: 0 -80px;
    
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px inset;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px inset;
}

.uki-button__text {
    margin: 0 5px;
}

.uki-button:focus {
    border-color: #7594D2;
    
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0px -1px 1px inset, #7594D2 0 0 3px;
    -moz-box-shadow: rgba(255, 255, 255, 0.3) 0px -1px 1px inset, #7594D2 0 0 3px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px -1px 1px inset, #7594D2 0 0 3px;
}

.uki-button__icon {
    vertical-align: top;
    /* convert 16x16 to 16x14 */
    margin-top: -1px;
    margin-bottom: -1px;
}

.uki-button_disabled,
.uki-button_disabled:active,
.uki-button_disabled:hover {
    color: #999;
    background-color: #eee;
    background-image: none;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    border-color: #AAA;
}

.uki-button_disabled .uki-button__icon {
    opacity: 0.5;
}

.uki-button_image-only .uki-button__text {
    display: none;
}

.uki-button_confirm {
    background-position: 0 -120px;
    border-color: #77C;
}

.uki-button_confirm:hover {
    background-position: 0 -160px;
}

.uki-button_confirm:active {
    background-position: 0 -200px;
}

.uki-button_confirm.uki-button_disabled,
.uki-button_confirm.uki-button_disabled:active,
.uki-button_confirm.uki-button_disabled:hover {
    background-color: #EEEEFA;
    border-color: #AAC;
}